/*---------- General ----------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/*---------- General ----------*/

@font-face {
    font-family: 'avengeroregular';
    src: url('fonts/avengero-webfont.woff2') format('woff2'), url('fonts/avengero-webfont.woff') format('woff'), url('fonts/Avengero.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comic_sans_msregular';
    src: url('fonts/comic-webfont.woff2') format('woff2'), url('fonts/comic-webfont.woff') format('woff'), url('fonts/COMIC.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    margin-top: 20px;
    font-size: 0.7em;
}

body {
    font-family: 'avengeroregular', Roboto, Arial;
    color: #777777;
}


/* found the solution for my idea at Stackoverflow https://stackoverflow.com/questions/42312909/how-to-make-body-background-image-transparent-in-css */

body::after {
    background: url("../../media/images/460336.jpg") repeat center center;
    background-size: 200px;
    content: "";
    opacity: 0.9;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}


/*---------- Menu ----------*/

header .navbar {
    background-color: #F0131E;
}

.navbar {
    -webkit-box-shadow: 0px 3px 3px #2b2b2b;
    -moz-box-shadow: 0px 3px 3px #2b2b2b;
    box-shadow: 0px 3px 3px #2b2b2b;
    border: 0;
    text-transform: uppercase;
    font-size: larger;
    position: fixed !important;
    top: 0;
    width: auto;
}


/* keeps content from dissapering behind navbar */

header {
    margin-bottom: 100px;
}

.navbar-brand {
    color: #fff;
    font-size: 180%;
    letter-spacing: 0.45em;
}

.navbar-nav li a:hover {
    opacity: 0.6;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    color: #777777;
    border-bottom: 1px solid #777777;
}

.navbar-nav li a {
    color: #fff !important;
}

.active {
    text-decoration: underline;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43, 43, 43, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #2b2b2b;
}

button:focus {
    outline: 0 !important;
}

.seperator {
    border-bottom: none !important;
}

.flag {
    height: 2em;
    vertical-align: middle;
}


/*---------- Footer ----------*/

footer {
    line-height: 5rem;
    font-size: 0.9rem;
    margin-top: auto;
    background: #F0131E;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: -webkit-fill-available;
    position: sticky;
}

a {
    color: yellow;
}

a:hover {
    color: #000;
}

.emphasize {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

footer:hover .emphasize {
    letter-spacing: 5px;
    cursor: pointer;
}


/*---------- Footer Modal ----------*/

.modal-contact {
    text-align: center;
}

.modal-contact h2 {
    color: #F0131E;
    text-align: center;
    font-size: large;
}

#name,
#email,
#message {
    margin: 0.4rem;
    width: 80%;
    border: 1px solid #777777;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
}


/*---------- Index page ----------*/

.card-index {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: #F0131E 5px ridge;
    border-radius: 2em;
    overflow: hidden;
}

h3 {
    padding: 10px;
    line-height: 2em;
    text-align: center;
    font-size: larger;
    color: #F0131E;
    text-transform: uppercase;
    z-index: 2;
}

#frontpageimage1,
#frontpageimage2 {
    width: 20em;
}

#frontpageimage1 {
    float: right;
}

#frontpageimage2 {
    float: left;
}


/*---------- Heroes/villains page ----------*/

#container {
    display: flex;
    /* makes container a flexbox*/
    flex-flow: row wrap;
    /* layout the boxes in rows and wrap them*/
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
    position: relative;
}

.character-card {
    flex: 1;
    display: flex;
    /* make the contents controllable by flexbox*/
    flex-flow: column;
    min-width: 240px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
}

.card_image {
    width: 100%;
}

h2 {
    margin-top: 2em;
    font-size: .8em;
    text-align: left;
    color: #F0131E;
}

.card_bottom {
    display: flex;
    flex-flow: column;
}

.card_head {
    flex: 0;
}

.card_para {
    flex: 1 0 auto;
}


/*----- Heroes/villains Modal ----*/

.modal-hero {
    width: 80%;
    max-width: none;
}

.modal_body {
    height: 2em;
    width: 80%;
}

.modal_top {
    height: 2em;
    margin: auto;
}

th {
    text-decoration: underline;
}

.modal_image {
    width: 50%;
    float: left;
    border: #F0131E 4px inset;
    border-radius: 30px;
}

.modal_stats {
    height: auto;
    width: 40%;
    float: right;
}

.modal_stats table {
    width: 80%;
    text-align: center;
    font-family: 'comic_sans_msregular', Roboto, Arial;
    font-size: 12pt;
}

.modal_quote {
    margin-top: 2em;
    text-align: center;
    line-height: 2em;
    font-size: 70%;
    float: left;
}

.modal_bottom {
    padding-top: 10px;
    clear: both;
    height: auto;
    width: auto;
}

.modal_copy {
    color: #000;
}

.modal_copy a {
    color: mediumblue;
}

.modal_text {
    font-family: 'comic_sans_msregular', Roboto, Arial;
    font-size: 1em;
}

@media screen and (max-width: 991px) {
    /*---------- Menu ----------*/
    /* hiding the slashes when menu is collapsed */
    .hideoncollapse {
        display: none;
        width: 0px;
    }
    /*---------- Footer ----------*/
    footer {
        line-height: 3rem;
        font-size: 0.5rem;
    }
    footer i {
        font-size: 1rem;
    }
    .emphasize {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
    footer:hover .emphasize {
        letter-spacing: 0px;
    }
    /*---------- Index page ----------*/
    #frontpageimage1 {
        width: 15em;
    }
    #frontpageimage2 {
        width: 15em;
    }
    h3 {
        font-size: smaller;
        line-height: 1.5em;
    }
    .card-index {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    /*---------- Menu ----------*/
    .navbar-brand {
        font-size: 120%;
        letter-spacing: 0.5em;
    }
    /*---------- Index page ----------*/
    .card-index img {
        position: absolute;
        opacity: 0.2;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #frontpageimage1 {
        margin-top: 100px;
    }
    #frontpageimage2 {
        margin-top: 30px;
    }
    /*----- Heroes/villains Modal ----*/
    .modal_image {
        width: 80%;
        margin-left: 25px;
    }
    .modal_stats {
        float: none;
        margin: auto;
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    /*---------- Menu ----------*/
    .navbar-brand {
        font-size: 100%;
        letter-spacing: 0.3em;
    }
    /*----- Heroes/villains Modal ----*/
    .modal-hero {
        width: 100%;
        margin: auto;
    }
}